<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.digitalcampus.oppia.monitor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/dc_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Dark" >
        <activity
            android:name="org.digitalcampus.oppia.monitor.activity.MonitorActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PrefsActivity"
            android:label="@string/title_prefs"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_login" />
    </application>

</manifest>
